*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.header{
    /* height: 12vh; */
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    margin: 10px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}
.logo{
    /* height: 12vh; */
    width: 100px;
    /* background-color: blue; */
    padding-left: 10px;
}
.nav-items{
    /* background-color: red; */
    display: flex;
    padding: 0 10px 0;
    width: auto;
}
.nav-items>ul{
    /* background-color: green; */
    display: flex;
    list-style: none;

}
.nav-items>ul>li{
    padding: 20px 10px 0 0;
    font-size: larger;
    cursor: pointer;
    margin-right: 2vw;
}
 /* targeting Link tag as Link tag is anchor tag behind the scene so in css if we want to target Link tag we need to write a(anchor tag) */
.nav-items ul li a{
    text-decoration: none;
    color: #000;

}
.nav-items ul li a:hover{
 background-color: #D97919;
 padding: 0.8vw;
 border-radius: 1vh;
}
.nav-items ul li i:hover{
 background-color: #D97919;
 padding: 0.8vw;
 border-radius: 1vh;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    /* background-color: red; */
    gap: 23px;
}
.error-container {
    text-align: center;
    font-size: large;
    margin: 20px 0;
  }

.card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 17px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.05)
}
.image{
    height: 150px;
    width: 200px;
}
.image  img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.card > span{
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
}

.item-name{
    width: 90%;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600px;
    margin-top: 2px;
    /* background-color: blue; */
}
.card > span > h4{
    text-align: center;
    /* background-color: red; */
    font-size: 1.8vh;
}
.area{
    color: #000;
    /* background-color: pink; */
    font-size: 1.8vh;
}
.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 10%;
    color: white;
    font-size: 14px;
}
.search-bar{
    text-align: center;
    padding: 20px 0px;
}
.search-bar >input{
    height: 1.4vw;
    width: 30vw;
    padding: 6px;
    border-radius: 5px;
}
.search-bar >button{
    height: 2.2vw;
    width: 7vw;
    border-radius: 5px;
    background-color: rgb(89, 138, 254);
    color: white;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
    width: 60%;
    margin-top: 10px;
  }
  .shimmer-tags {
    width: 80%;
    margin-top: 4px;
  }
  .shimmer-details {
    width: 100%;
    margin-top: 18px;
  }
  .shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
  }
  
  /*Animation to Shimmer Component Cards */
  .stroke {
    height: 15px;
    background: #777;
  }
.animate {
    animation: shimmer-effect 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
  }
@keyframes shimmer-effect {
    from {
        background-position: -1000px 0;
      }
      to {
        background-position: 1000px 0;
      }
}

/* footer  css*/
.footer-container{
    background-color: rgb(79, 145, 251);
    padding: 2vw;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}
.footer-container h2{
    text-align: center;
    font-style: italic;
}
/* About us page */
.about-container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 4vw;
margin-top: 4vw;
}
.about-left-half{
    /* background-color: red; */
    margin-left: 5vw;
}
.about-right-half{
    margin-right: 5vw;
}
.about-left-half h1{
font-size: 4.3vw;
line-height: 5vw;
font-weight: 900;
}
.about-left-half span {
    background-color: #D97919;
    border-radius: 20px;
    color: #fff;
    padding: 1vh;
}
.about-left-half h2{
    margin-top: 2vh;
    font-style: italic;
}
.contact-div{
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
}
.contact-div-right h3{
    font-size: 2.9vw;
   padding: 1vw;
   margin-left: 4vw;
}
.contact-div-right form input{
    display: block;
    padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #aabcca;
  width: 50vh;
}
.contact-div-right form textarea{
    display: block;
    padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #aabcca;
  width: 50vh;
}
.contact-div-right form button{
    padding: 10px 15px;
    margin-top: 1vw;
    margin-left:10vw;
    background-color:#13619d;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.contact-div-right form button:hover{
    background-color: #016034;
}
.submit-message{
    display: block;
    font-size: 1.5vw;
}


/* Error page css */
.error-div{
    background-color: #E3E3E3;
    height: 100vh;
    text-align: center;
}
.error-div h3{
    font-size: 2.5vw;
}
.error-div h4{
    font-size: 1.5vw;
    margin: 1vw;
}
.error-div button{
    height: 3vw;
    width: 8vw;
    background-color: #D97919;
    cursor: pointer;
}